
.padded-h3{
  padding-left: 20px;
  
}
.padded-h3-white{
  padding-left: 20px;
  color:white;
  
}

.padded-paragraph{
  padding-left: 20px;
  padding-right: 20px;
}

.padded-paragraph-white{
  padding-left: 20px;
  padding-right: 20px;
  color:white;
}

.spacer {
  padding-top: 20px;
}

.card-frame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding-top:50px;
  padding-bottom:50px;
  padding-left:600px;
  position: relative;     
}

.div-bg {  
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ0MnxGem8zenVPSE42d3x8ZW58MHx8fHx8");
  padding-top:50px;
  padding-bottom:50px;  
  position: relative;
  max-width: 500px;
  height:auto;
  text-align: left; 
  
}  

.div-bg-mission {  
  background-image: url("https://images.unsplash.com/photo-1719689831010-be9fe130e88b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDR8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D");
  padding-top:50px;
  padding-bottom:50px;
  max-width: 500px;
  height:auto;  
  position: relative;
  text-align: left;  
}

.div-bg-why {  
  background-image: url("https://images.unsplash.com/photo-1717857253057-e70961be841d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwOXxpVUlzblZ0akIwWXx8ZW58MHx8fHx8");
  padding-top:50px;
  padding-bottom:50px;
  max-width: 500px;
  height:auto;  
  position: relative;
  text-align: left;  
}
  

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
