.h1{
    padding-top: 100px;
  }

  .container{
    padding-top: 100px;
    padding-left: 10px;
  }

  img {
    float: left;
    width: 500px;
    height: auto;
    padding-right: 10px;
  }  

  .side-img {
    float: right;
    height: 170px;
    width:auto;
    
    padding-right: 10px;
  } 
  
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

  
  
