#about p {
  line-height: 200%;
}

#about .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-right {
  order: -1;
}

#about .text-wrapper {
  padding: 8rem 4rem;
}

#about .text-wrapper h3 {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--dark-blue);
  font-size: 2rem;
}

#about .img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.about-us {
  background-image: url("https://images.unsplash.com/photo-1455587734955-081b22074882?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.our-story {
  background-image: url("https://images.unsplash.com/photo-1584132967334-10e028bd69f7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.our-mission-wrapper {
  background-color: var(--light-blue);
}

.our-mission {
  color: var(--white);
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem 0;
}

.our-mission h3 {
  color: var(--yellow);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.offer-choose {
  width: 80%;
  margin: auto;
}

.offer-choose strong {
  color: var(--light-blue);
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.offer-choose p:not(:last-of-type) {
  margin-bottom: 1rem;
}
