.search-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 75%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  gap: 2rem;
}

.search-bar div,
.search-bar input,
.search-bar select {
  width: 100%;
}

.search-bar input,
.search-bar select {
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.search-bar .btn {
  align-self: flex-end;
}
