:root {
  --red: #ef476f;
  --yellow: #ffd166;
  --green: #06d6a0;
  --light-blue: #118ab2;
  --dark-blue: #073b4c;
  --black: #020e13;
  --white: #ecf9fd;
}

.contact-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}

.side p {
  margin: 0;
  padding: 0;
}

.contact-wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.side label {
  float: left;
  font-weight: 700;
  font-size: 1rem;
}

.side textarea,
input {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  appearance: none;
  color: var(--dark-blue);
  background-color: white;
}

.side textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.side input {
  width: 50%;
  margin-bottom: 1rem;
}
.side button {
  float: right;
}

.letter {
  width: 30rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.side {
  height: 20rem;
  background-color: #fcfcf8;
  outline: 1px solid transparent;

  &:nth-of-type(1) {
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
  }
  &.side:nth-of-type(2) {
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05),
      inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
  }
}

.contact-wrapper input[type="text"],
select,
textarea {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
