@import url("https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  transition: ease-in-out 0.5s;
  padding: 1rem;
}

.logo {
  color: var(--yellow);
  font-family: "Playwrite PT", cursive;
  font-weight: 300;
  font-size: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 1rem 0;
}

nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

nav a {
  color: var(--yellow);
  text-decoration: none;
  font-size: 1.1rem;
  transition: ease-in-out 0.5s;
}

nav a:hover {
  color: var(--yellow);
  opacity: 0.5;
  text-decoration: none;
}
