.dashboard-rooms {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

.dashboard-rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  color: var(--dark-blue);
}

.dashboard-rooms table {
  width: 100%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  table-layout: fixed;
}

.dashboard-rooms th {
  text-align: start;
  color: var(--white);
  background-color: var(--dark-blue);
}

.dashboard-rooms th:nth-child(1) {
  border-radius: 0.5rem 0 0 0;
}

.dashboard-rooms th:nth-child(6) {
  border-radius: 0 0.5rem 0 0;
}

.dashboard table tr:last-child td:first-child {
  border-radius: 0 0 0 0.5rem;
}

.dashboard-rooms table tr:last-child td:last-child {
  border-radius: 0 0 0.5rem 0;
}

.dashboard-rooms th,
.dashboard-rooms td {
  padding: 0.5rem;
}

.dashboard-rooms table tr:nth-child(even) {
  background-color: #ecf9fd;
}

.dashboard-rooms tbody tr:hover {
  opacity: 0.8;
}

.dashboard-rooms a {
  color: var(--light-blue);
  text-decoration: none;
  transition: ease-in-out 0.5;
}

.dashboard-rooms a:hover {
  color: var(--light-blue);
  opacity: 0.5;
  text-decoration: none;
}
