.dashboard-hotels {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

.dashboard-hotels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  color: var(--dark-blue);
}

.dashboard-hotels table {
  width: 100%;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  table-layout: fixed;
}

.dashboard-hotels th {
  text-align: start;
  color: var(--white);
  background-color: var(--dark-blue);
}

.dashboard-hotels th:nth-child(1) {
  border-radius: 0.5rem 0 0 0;
}

.dashboard-hotels th:nth-child(3) {
  border-radius: 0 0.5rem 0 0;
}

.dashboard table tr:last-child td:first-child {
  border-radius: 0 0 0 0.5rem;
}

.dashboard-hotels table tr:last-child td:last-child {
  border-radius: 0 0 0.5rem 0;
}

.dashboard-hotels th,
.dashboard-hotels td {
  padding: 0.5rem;
}

.dashboard-hotels table tr:nth-child(even) {
  background-color: #ecf9fd;
}

.dashboard-hotels tbody tr:hover {
  opacity: 0.8;
}

.dashboard-hotels a {
  color: var(--light-blue);
  text-decoration: none;
  transition: ease-in-out 0.5;
}

.dashboard-hotels a:hover {
  color: var(--light-blue);
  opacity: 0.5;
  text-decoration: none;
}
