.cart-wrapper {
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  max-width: 70rem;
  justify-content: center;
}

.details-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 12rem;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}