.back-to-top {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  display: none;
}

.back-to-top.show {
  display: flex;
}

.back-to-top:hover {
  opacity: 0.8;
}
